
body {
      background-color: rgb(201, 235, 239);
      
    }
h1   {
      color: blue; 
      font-size: small;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
h2   {
      color: rgb(3, 3, 3);
      font-size: small;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      padding-left: 20px;
      padding: 0px;
      
    }
h3   {
      color: rgb(255, 0, 4);
      font-size: small;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     
      margin: 30px;
    
    }
p    {
      color: rgb(248, 6, 6);
      font-size: small;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      /*margin: 30px;*/
      padding-left: 6px;
      line-height: .1px;
      justify-content: left; /* Center content horizontally */
      align-items: left; /* Center content vertically */
    }

a   {
     color: blue; /* Initial color of the link */
     text-decoration: none; /* Remove underline */
     font-size: small; 
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     margin: 0px;
     justify-content: center; /* Center content horizontally */
     align-items: center; /* Center content vertically */
     word-wrap:break-word
    }

     .TitoloPromemoria {
      background-color: rgb(6, 70, 245);
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: bold;
      font-size: 14px;
      color: white;
      border: 1px solid black;
      margin: 0px;
      padding: 5px;
      display: flex; /* Enable flexbox */
      justify-content: center; /* Center content horizontally */
      align-items: center; /* Center content vertically */
    }

    .Table_info {
      border: 2px solid black;

    }

    .red_line {
      style {height:2px;border-width:0;color:gray;background-color:rgb(243, 2, 2)}
    }


    .SottoTitolo {
      background-color: rgb(7, 186, 28);
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: bold;
      font-size: 14px;
      color: white;
      border: 1px solid black;
      margin: 0px;
      padding: 5px;
      display: flex; /* Enable flexbox */
      justify-content: left; /* Center content horizontally */
      align-items: left; /* Center content vertically */
    }


    .Dettagli {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: 500;
      color: rgb(13, 13, 13);
      margin: 30px;
      padding-left: 5px;
      line-height: .1px;
      justify-content: left; /* Center content horizontally */
      align-items: left; /* Center content vertically */
    }
    .Dettagli_link {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: 500;
      color: rgb(45, 3, 255);
      margin: 6px;
      /*padding-left: 5px;*/
      /*padding: 2px;*/
      line-height: .1px;
      justify-content: left; /* Center content horizontally */
      align-items: left; /* Center content vertically */
    }
  
    .Dettagli_II_Colonna {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: 600;
      color: rgb(45, 3, 255);
      margin: 0px;
      padding-left: 0px;
      line-height: .1px;
      justify-content: left; /* Center content horizontally */
      align-items: left; /* Center content vertically */
    }

    .Dettagli_link_II {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: 600;
      color: rgb(45, 3, 255);
      margin: 8px;
      /*padding-left: 20px;
      line-height: .1px;*/

      justify-content: left; /* Center content horizontally */
      align-items: left; /* Center content vertically */
      word-wrap:break-word
    }


    .Data {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-style: italic;
      font-weight: bold;
      font-size: medium;
      text-align: left;
      color: rgb(4, 3, 3);
      /*padding-left: 2px;*/
      margin: 2px;
      text-decoration: underline;
      justify-content: center;
    }
    .Titolo {
      background-color: rgb(40, 7, 186);
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: white;
      border: 0px solid black;
      margin: 0px;
      
      padding: 15px;
      display: flex; /* Enable flexbox */
      justify-content: center; /* Center content horizontally */
      align-items: center; /* Center content vertically */
    }
    .flag {
          width: 100%; /* Sets the width of the image */
          height: 110%; /* Maintains aspect ratio */
          margin: 0px;
          margin-top: 0px;

    }
    .Hotel {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      background-color: rgb(210, 224, 3);
      font-style: italic;
      font-weight: bold;
      color: rgb(9, 5, 249);
      margin: 0px;
      padding-left: 2px;
      justify-content: left; /* Center content horizontally */
      align-items: left; /* Center content vertically */
      line-height: .5px;
      word-wrap:break-word;
      
    }

    .Voli {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      background-color: rgb(166, 237, 248);
      font-style: italic;
      font-weight: bold;
      font-size: large;
      color: rgb(9, 5, 249);
      margin: 0px;
      padding-left: 2px;
      justify-content: left; /* Center content horizontally */
      align-items: left; /* Center content vertically */
      line-height: .5px;
      word-wrap:break-word;
      
    }
    
    
    .Hotel:hover {
           color: red; /* Color of the link when hovered */
        }
    .Checkin {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-style: italic;
      font-size: 12px;
      color: rgb(48, 99, 0);
      margin: 30px;
      padding-left: 2px;
      line-height: 1px;
      justify-content: left; /* Center content horizontally */
      align-items: left; /* Center content vertically */
      
    }
    .MyDiv {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-style: italic;
      font-size: medium;
      text-align: left;
      color: rgb(240, 2, 2);
      padding-left: 4px;
      text-decoration: underline;
    }

    .ebike_sfo {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-style: italic;
      font-size: medium;
      text-align: left;
      color: rgb(240, 2, 2);
      padding-left: 33px;
      
    }

     .note {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-style: italic;
      font-size: small;
      font-weight: 600;
      text-align: center;
      color: rgb(0, 0, 0);
      /*padding-left: 30px;*/
      margin: 0px;
      word-wrap:break-word;
      background-color: #fa8704fd;
    
    }


    .item {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-style: italic;
      font-size: small;
      font-weight: 500;
      text-align: left;
      color: rgb(6, 6, 6);
      /*padding-left: 30px;*/
      margin: 6px;
      word-wrap:break-word
    
    }
    .blink {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-style: italic;
      font-size: small;
      font-weight: 600;
      text-align: left;
      color: rgb(6, 6, 6);
      /*padding-left: 30px;*/
      margin: 6px;
      animation: blink-animation 1.3s step-start 0s infinite;
    }
    @keyframes blink-animation {
      50% {
        opacity: 0;
      }
    }
    .button_info {
      margin-left: 1px;
    }
    .button_menu {
      margin-left: 20px;
    }
    
    .menu_td {
      padding: 6px;
     
  }
    
  .a_menu   {
    color: blue; /* Initial color of the link */
    text-decoration: none; /* Remove underline */
    font-size: 11px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 2px;
    justify-content: left; /* Center content horizontally */
    align-items: left; /* Center content vertically */
   }
    

  .table_voli {
    
      width: 50%;
      border: none;
      border-collapse: collapse;
      margin: 10px 0;
      font-size: 18px;
      text-align: left;
  }

  th, td {
      border: 0px solid ;
      padding: 5px;
  }
  tr {
    font-size: 15px;  /* Cambia la dimensione del testo */
    font-family: Arial, sans-serif; /* Cambia il font */
    font-weight: bold; /* Rende il testo in grassetto */
    text-align: left; /* Allinea il testo al centro */

}

.trip {
  color: rgb(1, 1, 82); /* Initial color of the link */
  background-color:cyan;
  text-decoration: none; /* Remove underline */
  font-size: medium; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 1px;
  justify-content: left; /* Center content horizontally */
  align-items: left; /* Center content vertically */

}

.checkbox {
    width: 20px; /* Set desired width */
    height: auto; /* Maintain aspect ratio */
    margin-left: 2px;

  }
.h1_other_page   {
    color: rgb(2, 1, 20); 
    background-color: rgb(210, 224, 3);
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .h2_prom   {
    color: rgb(3, 3, 3);
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1px;
    
  }

  .img_voli {
    width: 90%; /* Sets the width of the image */
    height: 90%;           
    margin: 0px;
    margin-top: 0px;
    justify-content: center;
    align-items: center;     /* Centers vertically */
    

  }

 
  .table_menu {
    
    width: 50%;
    border: none;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 18px;
    text-align: left;
}

th, td {
    border: 0px solid ;
    padding: 5px;
}
tr {
  font-size: 15px;  /* Cambia la dimensione del testo */
  font-family: Arial, sans-serif; /* Cambia il font */
  font-weight: bold; /* Rende il testo in grassetto */
  text-align: left; /* Allinea il testo al centro */

} 